* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    background: #ebebeb;
}

.title, .subtitle {
    margin: 60px auto 30px auto;
    text-align: center;
}

.container {
    justify-content: center;
    /*width: 50%;*/
    margin: 20px auto;
    align-items: center;
    max-width: 500px;
}

label {
    font-size: 20px;
}

input {
    width: 100%;
    height: 40px;
    margin: 10px;
    border-radius: 4px;
    font-size: 20px;
    background-color: #fff;
}

button {
    width: 50%;
    margin: 10px 25%;
    padding: 10px;
    border-radius: 4px;
    background-color: lightskyblue;
    border:none;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: dodgerblue;
    color:white;
}

textarea {
    height: 50px;
    margin: 10px;
    width: 100%;
    background-color: #fff;
}

.message {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: row;
    margin: 30px 0 30px 25%;
    padding: 15px 0;
    border-radius: 4px;
    color: white;
}

.success {
    background-color: limegreen;
}

.error {
    background-color: firebrick;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.temp-elem {
    background-color: whitesmoke;
    justify-content: center;
    margin: 30px;
    font-size: 20px;
    min-width: 200px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
}

.temp-elem > p {
    background-color: whitesmoke;
    margin: 12px 10px;
    text-align: center;
}

.min, .max {
    margin: 0 5px;
    background-color: whitesmoke;
}